<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
<div style="font-family: Lato;">
  <h2>Password reset requested</h2>

  <p>If you did not initiate this password reset, please ignore this email.<p>

  <p>To reset your Openframe password, visit the following link and follow the instructions:</p>
  <p>
    <strong>
      <a href="<%= reset_link %>" target="_blank">Reset Password</a>
    </strong>
  </p>
</div>