<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
<div style="font-family: Lato;">
  <h2>Welcome to Openframe</h2>

  <p>You're almost ready to start displaying artwork!<p>


  <strong>Please click the link below to verify your email address:</strong>

  <p style="margin: 30px 0px;">
    <a style="margin: 20px 0px; padding: 10px; font-size: 14px; border-radius: 4px; background-color: #000; color: #fff; letter-spacing: 0.5px; text-transform: uppercase; text-decoration: none;" href="<%= verifyHref %>">Verify Email</a>
  </p>

  <p>For info and instructions on setting up a frame, please check out the <a href="http://docs.openframe.io/frame-setup-guide" target="_blank">Frame Setup Guide</a>.</p>

  <p>If you did not create an account on the Openframe website, please ignore this email.<p>
</div>