<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
<div style="font-family: Lato;">
  <h2>Welcome</h2>

  <p>This is going to be fun!<p>

  <strong><%= text %></strong>

  <p>For info and instructions on setting up a frame, please check out the <a href="https://github.com/OpenframeProject/Openframe/wiki/Openframe-User-Guide" target="_blank">User Guide</a>.</p>

  <p>If you did not create an account on the Openframe website, please ignore this email.<p>
</div>