*,
*:before,
*:after {
    box-sizing: border-box !important;
}

.row-tile {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.tile-item {
    display: inline-block;
    padding: .25rem;
    width: 100%;
}

.tile-well {
    position: relative;
    display: block;
}

body {
    padding-top: 70px;
    font-family: "Lato", sans-serif;
    color: black;
}


/* Navigation top bar */

.navbar {
    height: 66px;
}

.navbar-nav li a {
    height: 66px;
    padding-top: 22px;
    padding-bottom: 15px;
}

.navbar-nav ul {
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: 300;
    font-size: 16px;
}

.navbar-default .navbar-collapse {
    border-top: 0;
}


.navbar-toggle {
    margin-top: 16px;
}

.dropdown-frames {
    // background: #fff;
    margin-right: 20px;
}

.frame-list-item {
    position: relative;
    padding: 0px 20px;
    float: left;
}

.frame-list-item::before {
    content: "\2022";
    color: #a00;
    position: absolute;
    left: -2px;
    top: -1px;
}

.frame-list-item--connected::before {
    color: #0a0;
}

.frame-list-item--caret {
    position: relative;
    top: -2px;
    left: 10px;
}

.frame-list-item__name {
    font-weight: 500;
    text-transform: uppercase;
}

.frame-list-item__name--current {
}

.frame-list-item__status {
    font-size: 10px;
    color: #aaa;
}


.btn-logout {
    color: #B2B2B2;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    float: left;
    padding-top: 3px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}


/* Global */

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


/* User page navigation */

.row-navigation {
    border-bottom: 1px solid #D2D2D2;
    height: 28px;
    margin-left: -10px;
    margin-right: -10px;
}

.tabs {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0px;
}

.tabs li {
    display: inline;
    margin-right: 25px;
}

.tabs a {
    color: #B2B2B2;
    font-weight: normal;
}

.tabs a:hover {
    color: black;
}

.active a {
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    color: black;
}


/* Artwork Collection Tile View */

.container-centered-artwork {
    max-width: 970px;
    margin-top: 50px;
}

.row-collection {
    margin-top: 40px;
    padding: 0px;
    margin-left: -20px;
    margin-right: -20px;
}

.bg-image {
    position: relative;
}

.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tile-artwork {
    padding: 10px;
}

.artwork-interface {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
}

.artist-label {
    height: 24px;
    display: table;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.artwork-label {
    height: 24px;
    display: table;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
}

h4 {
    font-size: 14px;
    margin: 0px;
}

.artist-label h4 {
    font-weight: 200;
    opacity: .5;
}

.artwork-label h4 {
    font-weight: normal;
}

.artwork-label .artwork-format {
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 8px;
    opacity: .5;
    position: relative;
    top: -1px;
    letter-spacing: 1px;
}

.btn-circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 43px;
    height: 43px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 50px;
    background-color: black;
    color: white;
    float: right;
}

.btn-push--disabled {
    background-color: #ddd;
}

.btn-push--enabled {

}

.btn-push img {
    width: 40%;
    padding-top: 7px;
}


/* Add artwork */

.dropdown-formats {}


/* Forms */

.container-centered-form {
    max-width: 400px;
    margin-top: 50px;
}

.form-control {
    font-weight: normal;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    height: 40px;
}

.placeholder {
    font-style: italic;
    color: #D2D2D2;
}

input:placeholder-shown {
    font-style: italic;
    font-weight: lighter;
}

.switch-text {
    font-weight: lighter;
    font-size: 14px;
    color: #AEAEAE;
    text-align: center;
    margin-top: 30px;
}

.switch-text a {
    color: #AEAEAE;
    text-decoration: underline;
}

label {
    font-weight: normal;
    font-size: 16px;
    color: black;
    font-weight: normal;
}

select {
    -webkit-border-radius: 3px;
    padding-left: 10px;
}

.btn-default {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: black;
    border: none;
    color: white;
    letter-spacing: 1.4px;
    font-weight: 600;
}

.btn-default:hover {
    background-color: #333333;
    color: white;
}
