*,
*:before,
*:after {
    box-sizing: border-box !important;
    outline: none !important;
}

.zoom-image-clone {
    position: fixed;
    -moz-transition: -moz-transform 0.23s ease;
    -ms-transition: -ms-transform 0.23s ease;
    -webkit-transition: -webkit-transform 0.23s ease;
    transition: transform 0.23s ease;
    z-index: 500;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: -ms-zoom-out;
    cursor: zoom-out;
}

.row-tile {
    -moz-column-width: 22em;
    -webkit-column-width: 22em;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
}

.tile-item {
    display: inline-block;
    width: 100%;
}

.tile-artwork {
    margin-top: 0px;
    margin-bottom: 15px;
    min-height: 140px;
}

.tile-well {
    position: relative;
    display: block;
}

body {
    padding-top: 50px;
    font-family: "Lato", sans-serif;
    color: black;
}


/* Navigation top bar */

.navbar {
    height: 66px;
}

.navbar-nav li a {
    height: 66px;
    padding-top: 22px;
    padding-bottom: 15px;
}

.navbar-nav ul {
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a {
    color: #B2B2B2;
    font-weight: 300;
    font-size: 14px;
}

.navbar-default {
    border: none;
}

.btn-logout {
    color: #DEDEDE;
}

.navbar-default .navbar-collapse {
    border-top: 0;
}

.navbar-fixed-bottom {
    height: 50px;
    background-color: black;
    color: white;
}

.dropdown-frames {
    // background: #fff;
    margin-right: 20px;
}

.frame-list-item {
    position: relative;
    top: -9px;
    padding: 0px 20px;
    float: left;
}

.frame-list-item::before {
    content: "\2022";
    color: #CB554D;
    position: absolute;
    left: 4px;
    top: -1px;
}

.frame-list-item--connected::before {
    color: #0a0;
}

.frame-list-item--caret {
    position: relative;
    top: -2px;
    left: 10px;
}

.frame-list-item__name {
    color: black;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.frame-list-item__name--current {}

.frame-list-item__status {
    font-style: italic;
    font-size: 14px;
    font-weight: 200;
    color: #B2B2B2;
}

.add-button {
    padding: 10px;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border: 1px solid #DEDEDE;
    background-color: white;
    color: #B2B2B2;
    border-radius: 0px;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 400;
    transition: all .2s ease;
    outline: none;
}

.add-button:hover {
    border: 1px solid black;
}


/*
.add-button-area {
    padding: 10px;
    height: 100px;
    text-align: center;
    position: relative;
}
*/

.btn-transparent {
    background: transparent;
    border: none !important;
    padding-top: 1px;
}

.btn-frame-settings a:hover {
    fill: black;
}

.icon-topbar {
    padding-bottom: 4px;
}

.navbar .divider-vertical {
    height: 45px;
    border-right: 1px solid #DEDEDE;
    margin-top: 10px;
}


/* Modal */

.modal-dialog {
    width: 500px;
}

.modal-backdrop {
    opacity: 0.2 !important;
}

div.modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding-bottom: 16px;
}

.modal-header {
    border: none;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal-title {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: black;
    padding-top: 14px;
}

.modal-body {
    margin-top: 10px;
}

#SaveButton {}

.fine-copy {
    font-weight: 200;
    font-size: 14px;
    color: black;
}

.with-fine-copy {
    margin-bottom: 0px;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    float: left;
    padding-top: 3px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}


/* Global */

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


/* User page navigation */

.row-navigation {
    border-bottom: 1px solid #D2D2D2;
    height: 28px;
}

.tabs {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0px;
}

.tabs li {
    display: inline;
    margin-right: 25px;
}

.tabs a {
    color: #B2B2B2;
    font-weight: normal;
}

.tabs a:hover {
    color: black;
}

.active a {
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 3px solid black;
    color: black;
}

.row-collection {
    margin-top: 40px;
    padding: 0px;
}


/* Artwork Collection Tile View */

.container-centered-artwork {
    max-width: 970px;
    margin-top: 70px;
}

.bg-image {
    position: relative;
}

.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.artwork-interface {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
}

.artist-label {
    height: 24px;
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.artwork-label {
    height: 24px;
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
}

h4 {
    font-size: 14px;
    margin: 0px;
}

.artist-label h4 {
    font-weight: 200;
}

.artwork-label h4 {
    font-weight: normal;
}

.artwork-label .artwork-format {
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 8px;
    opacity: .5;
    position: relative;
    letter-spacing: 1px;
}

.artwork__actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
}

.btn-circle {
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    float: right;
}

.btn-hover-action {
    -webkit-transition: opacity .2s ease, background-color .2s ease;
    -moz-transition: opacity .2s ease, background-color .2s ease;
    -o-transition: opacity .2s ease, background-color .2s ease;
    -ms-transition: opacity .2s ease, background-color .2s ease;
    transition: opacity .2s ease, background-color .2s ease;
    opacity: 0;
}

.hover-actions:hover .btn-hover-action {
    opacity: 1;
}

.btn-hover-action:hover {}

.btn-push--disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-push--enabled {}

.btn-push--enabled:hover {
    background-color: black;
    -webkit-transform: translateZ(0) scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: translatZ(0) scale(1.05);
    transform: translatZ(0) scale(1.05);
}

.btn-push--disabled:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-push {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/arrow.svg);
    background-size: 16px;
}

.btn-displaying {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/checkmark.svg);
    background-size: 19px;
}

.btn-like,
.btn-unlike {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.btn-like {
    background-image: url(../img/heart.svg);
}

.btn-unlike {
    background-image: url(../img/heart-filled.svg);
}

.btn-like:hover,
.btn-unlike:hover {
    background-color: black;
    -webkit-transform: translateZ(0) scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: translatZ(0) scale(1.05);
    transform: translatZ(0) scale(1.05);
}

.btn-artwork-settings {
    padding: 0px;
    padding-bottom: 5px;
    border: none;
}


/* Add artwork */

.dropdown-formats {}


/* Forms */

.container-centered-form {
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.container-login {
    margin-top: 50px;
}

.container-create-account {
    margin-top: 50px;
}

.form-control {
    font-weight: normal;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    height: 40px;
}

.placeholder {
    font-style: italic;
    color: #D2D2D2;
}

input:placeholder-shown {
    font-style: italic;
    font-weight: lighter;
}

.radio-inline {
    padding-right: 20px;
    padding-left: 10px;
}

.switch-text {
    font-weight: lighter;
    font-size: 14px;
    color: #AEAEAE;
    text-align: center;
    margin-top: 30px;
}

.switch-text a {
    color: #AEAEAE;
    text-decoration: underline;
}

label {
    font-weight: normal;
    font-size: 16px;
    color: black;
    font-weight: normal;
}

select {
    -webkit-border-radius: 3px;
    padding-left: 10px;
}

.btn-default {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: black;
    border: none;
    color: white;
    letter-spacing: 1.4px;
    font-weight: 600;
}

.checkbox {
    margin-top: 22px;
    margin-right: 2px;
}

.checkbox label {
    padding: 0px;
    text-transform: uppercase;
    font-size: 11px;
}

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch {
    margin-top: 23px;
}

input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 36px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: background 0.2s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.cmn-toggle-round-flat + label:before {
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background-color: white;
    border-radius: 60px;
    transition: background 0.2s;
}

input.cmn-toggle-round-flat + label:after {
    top: 5px;
    left: 5px;
    bottom: 4px;
    width: 11px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: margin 0.2s, background 0.2s;
}

input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
}

input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 15px;
    background-color: #8ce196;
}

.toggle {
    border-radius: 2px;
}

.toggle-group {}

.toggle.btn {
    min-height: 0px;
    min-width: 0px;
    border: none;
    width: 36px !important;
    height: 20px !important;
}

.toggle-on.btn {
    background-color: white;
    color: green;
    padding-left: 7px;
    border: 1px solid #DEDEDE;
}

.toggle-off.btn {
    background-color: #f8f8f8;
    color: #BEBEBE;
    padding-left: 3px;
    border: 1px solid #DEDEDE;
    box-shadow: none;
}

.toggle-handle {
    height: 26px;
    margin-top: -5px;
    width: 8px;
    padding: 0px;
    background-color: #B2B2B2;
}

.toggle-off.btn:hover {
    color: #B2B2B2;
    border-color: #DEDEDE;
    background-color: #f8f8f8;
}

.toggle-on.btn:hover {
    color: #B2B2B2;
    border-color: #DEDEDE;
    background-color: #f8f8f8;
}

.toggle-on.btn:active {
    color: #B2B2B2;
    border-color: #DEDEDE;
    background-color: #f8f8f8;
    box-shadow: none;
}

.btn-default:hover {
    background-color: #333333;
    color: white;
}

.btn-red {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #CB554D;
    letter-spacing: 1.4px;
    font-weight: normal;
}

.btn-red:hover {
    border: 1px solid #CB554D;
    background-color: transparent;
    color: #CB554D;
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .navbar {
        height: 50px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 3px #888888;
    }
    .navbar-collapse {
        background-color: white;
    }
    .navbar-nav li {
        border-bottom: 1px solid #D2D2D2;
    }
    .modal {
        text-align: center;
    }
    .modal-dialog {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    .container-centered-artwork {
        max-width: 970px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .row-collection {
        margin-top: 10px;
        padding: 0px;
    }
    .btn-circle {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 42px;
        height: 42px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.42;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        float: right;
    }
    .tile-artwork {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    h4 {
        font-size: 16px;
    }
    .add-button {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .tabs-bottom {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 14px;
        padding-left: 0px;
    }
    .tabs-bottom li {
        display: inline;
    }
    .tabs-bottom a {
        color: #565656;
        font-weight: normal;
    }
    .bottom-active a {
        font-weight: 600;
        text-decoration: none;
        color: white;
    }
    .stream-btn {
        padding-right: 8%;
    }
    .collection-btn {
        padding-left: 8%;
    }
}


/* End of mobile */
