<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenFrame / <%= user.username %> / add artwork</title>

    <% include includes/head-config %>
</head>

<body>
    <% include includes/header-nav %>

    <div class="container container-centered-artwork">
        <div class="row row-navigation">
		    <ul class="tabs">
                <li><a href="/stream">Stream</a></li>
		  		<li><a href="/<%= user.username %> ">Collection</a></li>
		  		<li class="active"><a href="/add-artwork">Add Artwork</a></li>
			</ul>
		</div>

		<div class="container container-centered-form">
            <% if (messages.error) { %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                        <%- messages.error %>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="row">
                <div class="col-md-12">
                    <form action="/add-artwork" method="POST">
                        <!--<h3><span class="openframe">Add new artwork to collection</span></h3> -->
                        <div class="form-group">
                            <label for="Author">Author</label>
                            <input type="text" class="form-control" name="author_name" id="Author" placeholder="Author" autocapitalize="off" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="Title">Artwork title</label>
                            <input type="text" class="form-control" name="title" id="Title" placeholder="Title" autocapitalize="off">
                        </div>

                        <div class="form-group">
                            <label for="Format">Artwork format</label>
                            <select class="form-control" name="format">
                                <option value="openframe-image">Image (JPG, JPEG, PNG)</option>
                                <option value="openframe-website">Website</option>
                                <option value="openframe-glslviewer">Shader</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="url">URL where the artwork is hosted</label>
                            <input type="text" class="form-control" name="url" id="URL" autocapitalize="off" placeholder="http://server.com/here.jpg">
                        </div>

                        <div class="form-group">
                            <label for="thumb_url">URL of a preview image</label>
                            <input type="text" class="form-control" name="thumb_url" id="ThumbURL" autocapitalize="off" placeholder="http://server.com/thumbnail.jpg">
                        </div>

                        <div class="form-group">
                            <button id="AddButton" href="#" class="btn btn-default">Add artwork</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>

    <% include includes/js-templates %>


    <% include includes/js-libs %>
    <% include includes/js-common %>

    <script type="text/javascript" src='/js/script.js'></script>

</body>

</html>
