<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <title>Openframe</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/img/of-logo.svg">

            </a>
            <h2>/&nbsp;create-account<h2>
        </div>
    </nav>
    <div class="container container-centered-well">
        <div class="well well-lg">
            <strong>Friendly disclaimer:</strong> This project is under active development; we cannot promise that everything will work 100%. We encourage you to try it out! Feedback and <a href="https://github.com/OpenframeProject">pull requests</a> are welcome :)
        </div>
    </div>
    <div class="container container-centered-form container-create-account">
        <h3><span class="openframe">Create new account</span></h3>
        <% if (messages.error) { %>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                    <%= messages.error %>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="row">
            <div class="col-md-12">
                <form action="/create-account" method="POST">
                    <div class="form-group">
                        <label for="Name">Full Name</label>
                        <input type="text" class="form-control" name="name" id="Name" placeholder="First Last" autocapitalize="on" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" name="username" id="Username" placeholder="username" autocapitalize="off">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" name="email" id="Email" placeholder="email" autocapitalize="off">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" name="password" id="AdminPass" autocapitalize="off" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="AdminPassConfirm">Confirm Password</label>
                        <input type="password" class="form-control" name="password_confirm" id="AdminPassConfirm" autocapitalize="off" placeholder="confirm password">
                    </div>
                    <div class="form-group">
                        <label for="Website">Website (optional)</label>
                        <input type="text" class="form-control" name="website" id="Website" placeholder="http://..." autocapitalize="off">
                    </div>
                    <div class="form-group">
                        <label for="Twitter">Twitter (optional)</label>
                        <input type="text" class="form-control" name="twitter" id="Twitter" placeholder="handle" autocapitalize="off">
                    </div>
                    <div class="form-group">
                        <button id="LoginButton" href="#" class="btn btn-default">Create account</button>
                    </div>
                    <div class="switch-text">
                        <p>Already have an account? <a href="/login">Log in here</a></p>
                    </div>
                </form>
            </div>


        </div>
    </div>
    <script type="text/javascript">
    // TODO: validation
    </script>
</body>

</html>
