<!DOCTYPE html>
<html lang="en">

<head>
    <title>Openframe API</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    <style type="text/css">
        html {
            font-family: Lato, "Helvetica-Neue", "Helvetica";
        }

        body {
            padding: 10%;
        }

        h1 {
            font-weight: 400;
            font-size: 35px;
        }
        .of-logo {

        }
    </style>
</head>

<body>

    <a href="//openframe.io"><img class="of-logo" alt="Brand" src="/img/of-logo.svg" /></a>
    <h1>Error</h1>
    <p>It's just been one of those days.</p>
    <p>Maybe you'll find what you're looking for over at <a href="//openframe.io">openframe.io</a>?</p>

</body>

</html>
