<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="access_token" content="<%= user.accessToken %>">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>OpenFrame / <%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script type="text/javascript">
        // Globals rendered from server
        window.USER_ID = '<%= user.id %>';
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="/img/of-logo.svg">
                </a>
                <h2>/&nbsp;<%= user.username %><h2>
	        </div>
	        <!-- This items get collected inside the hamburger for mobile -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        		<ul class="nav navbar-nav navbar-right">
        			<li class="dropdown dropdown-frames">

            		</li>
            		<li class="btn-logout"><a href="/logout">Log out</a></li>
            	</ul>
	    	</div>
	    </div>
    </nav>

    <div class="container container-centered-artwork">
        <div class="row row-navigation">
		    <ul class="tabs">
		  		<li class="active"><a href="">Collection</a></li>
		  		<li><a href="/add-artwork">Add Artwork</a></li>
			</ul>
		</div>

		<div class="row row-collection row-tile">

		</div>
	</div>

    <script type="text/template" id="ArtworkTemplate">
        <div class="tile-item tile-artwork">
            <div class="bg-image">
                <img src="{{- thumb_url }}">
                <div class="artwork-interface">
                    <div class="artist-label"><h4>{{- author_name }}</h4></div>
                    <div class="artwork-label"><h4>{{- title }}</h4></div>
                    <div class="btn btn-circle btn-push" data-artworkid="{{- id }}">
                        <img src="../img/arrow.svg">
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="FramesDropdownTemplate">
        <a href="#" class="dropdown-toggle frames-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="frame-list-item {{= currentFrame.connected ? 'frame-list-item--connected' : '' }}">
                <div class="frame-list-item__name">{{- currentFrame.name }}</div>
                {{ if (currentFrame._current_artwork) { }}
                    <div class="frame-list-item__status">{{- currentFrame._current_artwork.author_name }}: {{- currentFrame._current_artwork.title }}</div>
                {{ } }}
            </div>
            <span class="caret frame-list-item--caret pull-right"></span>
        </a>
        <ul class="dropdown-menu">
            {{ frames.forEach(function(frame) { }}
                <li>
                    <a href="#/frame/{{- frame.id }}" class="frame-select-link" data-frameid="{{- frame.id }}">
                        <div class="frame-list-item {{= frame.connected ? 'frame-list-item--connected' : '' }}" >
                            <div class="frame-list-item__name">{{- frame.name }}</div>
                            {{ if (frame._current_artwork) { }}
                                <div class="frame-list-item__status">{{- frame._current_artwork.author_name }}: {{- frame._current_artwork.title }}</div>
                            {{ } }}
                        </div>
                    </a>
                </li>
            {{ }); }}
        </ul>
    </script>


    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="/underscore/underscore-min.js"></script>
    <!-- <script type="text/javascript" src="/wookmark/wookmark.min.js"></script> -->
    <script type="text/javascript" src='/js/cookies.js'></script>
    <script type="text/javascript" src='/js/script.js'></script>

</body>

</html>
