<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenFrame / <%= user.username %></title>

    <% include includes/head-config %>
</head>

<body>
    <% include includes/header-nav %>

    <div class="container container-centered-artwork">
        <div class="row row-navigation">
		    <ul class="tabs">
                <li><a href="/stream">Stream</a></li>
		  		<li class="active"><a href="<%= user.username %> ">Collection</a></li>
			</ul>
		</div>
		<div class="row row-collection row-tile">
            <div class="tile-item tile-artwork add-button-area">
                <!--<button type="button" class="btn btn-add-artwork" data-toggle="modal" data-target="#add-artwork">Add artwork</button>-->
                <button type="button" class="btn btn-add-artwork" data-toggle="modal" data-target="#AddArtworkModal">
                    <img class="add-artwork" src="../img/add.svg">
                </button>
            </div>
		</div>
	</div>

    <% include includes/modals %>
    <% include includes/js-templates %>
    <% include includes/js-libs %>
    <% include includes/js-common %>

</body>

</html>
