<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenFrame / <%= user.username %></title>

    <% include includes/head-config %>
</head>

<body>
    <% include includes/header-nav %>

    <div class="container container-centered-artwork">
        <div class="row row-navigation">
		    <ul class="tabs">
                <li><a href="/stream">Stream</a></li>
		  		<li class="active"><a href="<%= user.username %> ">Collection</a></li>
			</ul>
		</div>
		<div class="row row-collection row-tile">

            <button class="btn tile-item tile-artwork add-button" data-toggle="modal" data-target="#AddArtworkModal">
                Add artwork
            </button>
		</div>
	</div>

    <% include includes/modals %>
    <% include includes/js-templates %>
    <% include includes/js-libs %>
    <% include includes/js-common %>

</body>

</html>
