<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenFrame / <%= user.username %></title>

    <% include includes/head-config %>
</head>

<body>
    
    <% include includes/header-nav %>

    <div class="container container-centered-artwork">

        <% include includes/notice %>

        <div class="row row-navigation hidden-xs">
		    <ul class="tabs">
                <li><a href="/stream">Stream</a></li>
		  		<li class="active"><a href="<%= user.username %> ">Collection</a></li>
			</ul>
		</div>
		<div class="row row-collection row-tile">

            <button class="btn tile-item add-button" data-toggle="modal" data-target="#AddArtworkModal">
                Add artwork
            </button>
		</div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs">
        <div class="container">
            <ul class="tabs-bottom">
                <li class="stream-btn"><a href="/stream">Stream</a></li>
                <li class="collection-btn bottom-active"><a href="<%= user.username %> ">Collection</a></li>
            </ul>
        </div>
    </nav>
    <div class="sidebar">
        <div class="sidebar-header">
            <img class="cross" src="../img/cross.svg">
        </div>

        <div class="row row-frames"></div>
        <ul class="frames-list">
            <li class="sidebar-row list-title">Frames</li>
            <li class="sidebar-row frame-item row-frame-active">
                <img class="mark-frame-active" src="../img/frame-checkmark.svg">
                <div class="frame-name">Home</div>
                <a class="btn-frame-settings" href="#" data-toggle="modal" data-target="#FrameSettingsModal">
                    <img class="icon-settings" src="../img/settings.svg">
                </a>
                <div class="switch">
                    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked>
                    <label class="toggle-label" for="cmn-toggle-4"></label>
                </div>
                <div class="frame-status displaying">TeamLab - Flowers</div>                
            </li>

            <li class="sidebar-row frame-item">
                <div class="frame-name">Studio</div>
                <a class="btn-frame-settings" href="#" data-toggle="modal" data-target="#FrameSettingsModal">
                    <img class="icon-settings" src="../img/settings.svg">
                </a>
                <div class="switch">
                    <input id="cmn-toggle" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label class="toggle-label" for="cmn-toggle-4"></label>
                </div>
                <div class="frame-status not-displaying">-</div> 
            </li>

            <li class="sidebar-row frame-item">
                <div class="frame-name">Room</div>
                <a class="btn-frame-settings" href="#" data-toggle="modal" data-target="#FrameSettingsModal">
                    <img class="icon-settings" src="../img/settings.svg">
                </a>
                <div class="switch">
                    <input id="cmn-toggle" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label class="toggle-label" for="cmn-toggle-4"></label>
                </div>
                <div class="frame-status not-displaying">Not connected</div> 
            </li>
            <li class="btn-logout">
                <a href="/logout">Log out</a>
            </li>
        </ul>
    </div>

    <% include includes/modals %>
    <% include includes/js-templates %>
    <% include includes/js-libs %>
    <% include includes/js-common %>

</body>

</html>
