<!DOCTYPE html>
<html lang="en" id="Website">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFrame</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/landing-manual.css">
</head>

<body>

    <!-- Nav, Page Heading, Preview Image -->
    <div class="top-nav-wrap">
        <ul class="top-nav">
            <li><a href="/create-account">Create account</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
    <div class="container-wide">
        <div class="row page-header splash-header">
            <div class="col-md-12">
                <img class="logo" src="/img/OF_Logo2.svg" />

                <h3 class="openframe">
                    <span>
                        <strong>openframe</strong>
                        <span class="alpha hidden-xs">alpha 0.2</span>
                    </span>
                    is a platform for displaying digital art
                </h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="preview">
                    <img class="hidden-xs" src="/img/topbox.jpg" />
                    <img class="visible-xs"src="/img/topbox-mobile.jpg" />
                </div>
            </div>
        </div>
    </div>
    <!-- END Nav, Page Heading, Preview Image -->

    <!-- Intro, Feature List -->
    <div class="container-wide" style="padding-top: 0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <section class="intro">
                        <p>
                            Openframe is an <strong>open source</strong> platform for artists, curators and art enthusiasts to experiment with new art forms and new ways of displaying and interacting with digital art.
                        </p>
                        <p>
                            Openframe is <strong>free</strong>. Anyone can set up a frame using an HDMI display and a Raspberry Pi.
                        </p>
                        <p>
                            Openframe is a <strong>collaborative</strong>, on-going project. We're currently building out and formalizing the API, and creating extensions that will support display of images, web-based artwork, and shaders. Our goal is to create a system that is accessible and extensible, allowing artists to easily add support for new digital formats.
                        </p>
                    </section>
                    <div class="get-started">
                        <a class="btn btn-default btn-get-started" href="https://github.com/OpenframeProject/Openframe/wiki/Openframe-instructions">Get started</a>
                    </div>

                    <!-- <ul class='features'>
                        <li class="done">Display content from the internet, or your own</li>
                        <li class="done">Publish your artwork to the public stream</li>
                        <li class="done">Browse, display and save artwork made by the community</li>
                        <li class="not-done">Tune in to an art station, or curate your own</li>
                        <li class="not-done">Tune in to a live performance, or stream your own</li>
                    </ul>
                    <ul class="features more">
                    <li class="see-more"><a href="#">See more</a></li>
                    </ul> -->
                    <!-- <p class="fine-print"><sup>*</sup>Currently supporting images (jpeg and png's). Other types of content coming soon (websites, shaders, Processing and Openframeworks sketches, etc.).</p> -->
                </div>
            </div>
        </div>
    </div>
    <!-- END Intro, Feature List -->

    <!-- Step-by-Step -->
    <!-- <div class="container-wide setup" >
        <div class="row">
            <div class="col-sm-12">
                <h4><strong>For everyone.</strong> Free and easy to set up.</h4>
            </div>
        </div>
        <div class="row row-step">
            <div class="col-sm-12">
                <img class="setup-account" src="/img/Account.svg" />
                <h5>1. Create an account.</h5>
                <p>For now, <a href="mailto:hello@openframe.io?subject=Openframe Account Request">request one</a>. Soon you'll be able to create an account without a request.</p>
            </div>
        </div>
        <div class="row row-step">
            <div class="col-sm-12">
                <img class="setup-display" src="/img/GetDisplay.svg" />
                <h5>2. Get a display.</h5>
                <p>Any display works &mdash; a new one, or that old one sitting in your parent's basement.</p>
            </div>
        </div>
        <div class="row row-step">
            <div class="col-sm-12">
                <img class="setup-pi" src="/img/RPi.svg" />
                <h5>3. Get a Raspberry Pi.</h5>
                <p>Get one from <a href="https://www.sparkfun.com/search/results?term=raspberry+pi">here</a> or <a href="http://www.adafruit.com/products/2358">there</a>. Follow these <a href="https://github.com/OpenFrameProject/OpenFrame-NodeClient/wiki/Setup-Instructions">instructions</a> to set up the application on the Pi.</p>
            </div>
        </div>

        <div class="row row-step">
            <div class="col-sm-12">
                <img class="setup-display" src="/img/DisplayArt.svg" />
                <h5>4. Display art.</h5>
                <p>Go to openframe.io on your phone, log in and send art to your frame.</p>
            </div>
        </div>
    </div> -->
    <!-- END Step-by-Step -->

    <!-- For Whom? -->
    <div class="container-wide for-whom">
    <!-- <div class="container-wide setup" > -->
        <div class="container-mid">
            <div class="row">
                <div class="col-sm-4">
                    <h4>For artists.</h4>
                    <h5>Don't be limited by the platform.</h5>
                    <p>Write an extension that supports your artwork, whatever it may be.</p>
                </div>
                <div class="col-sm-4">
                    <h4>For curators.</h4>
                    <h5>Manage your digital art displays.</h5>
                    <p>Contact us at <a href="mailto:hello@openframe.io">hello@openframe.io</a>. We'd like to learn more about how curators and galleries can contribute to this project.</p>
                </div>
                <div class="col-sm-4">
                    <h4>For developers.</h4>
                    <h5>Contribute on <a href="https://github.com/OpenFrameProject">Github</a>.</h5>
                    <p>Send us an email at <a href="mailto:hello@openframe.io">hello@openframe.io</a> if you have ideas on how to improve or expand Openframe.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END For Whom? -->

    <div class="container-wide q-a" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="footer-heading"><strong>Questions</strong> and answers.</h4>

                    <section>
                    <h5>Why this project?</h5>

                    <!-- <p>A while back we started seeing a number of commercial projects that aimed to bring artwork from the internet into our homes. We'd been thinking along these lines too, but were interested in seeing what could happen if we put the power fully in the hands of the artists, programmers, and art viewers.</p>
 -->
                    <p>In the same way painters stretch their own canvases, digital media artists need to have full control over their tools. Openframe promotes experimentation with this new medium — it allows artists to explore new artwork formats and new ways to reach an audience.</p>

                    <p>We want to build an open source platform that can be modified and extended to support new media types and sensor-based artwork, and that can be easily set up using a range of inexpensive hardware (Raspberry Pi, Odroid, etc.). With Openframe, we want to create a conduit through which an audience can experience and appreciate art in new ways, and which allows artists to give new life to their work.</p>
                    </section>

                    <section>
                    <h5>What artwork can I display?</h5>

                    <p>The platform uses 'format' plugins which describe how to run artworks. At present, we'll be releasing plugins for images, websites, and shaders, but artists are free to create extensions which can run other types of artwork.</p>

                    <p>No content is stored on the Openframe server. It's up to you to make sure you have the permission of the content owner to display the work.</p>
                    </section>

                    <section>
                    <h5>The installation seems complicated, I just want to buy a frame.</h5>

                    <p>Openframe is not a product. However, there are an ever growing number of existing commercial products that you can buy, plug to the wall, and <em>voilà</em> &mdash; they work. Check out <a href="https://www.electricobjects.com/">Electric Objects</a> or <a href="http://frm.fm/en/">Framed</a>.</p>
                    </section>


                </div>
            </div>
        </div>
    </div>

    <div class="container-wide footer" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="footer-contact-us">More questions? Contact us at <a href="mailto:hello@openframe.io">hello@openframe.io</a></h4>
                    <h6><a href="http://jonathanwohl.com/">Jon Wohl</a> and <a href="http://ishback.com/">Ishac Bertran</a> started Openframe in spring 2015.</h6>

                </div>
            </div>
        </div>
    </div>
</body>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65575814-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
