<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenFrame / <%= user.username %> / stream</title>

    <% include includes/head-config %>
</head>

<body>
    <% include includes/header-nav %>

    <div class="container container-centered-artwork">
        <div class="row row-navigation">
		    <ul class="tabs">
		  		<li class="active"><a href="/stream">Stream</a></li>
                <li><a href="/<%= user.username %>">Collection</a></li>
		  		<li><a href="/add-artwork">Add Artwork</a></li>
			</ul>
		</div>

		<div class="row row-collection row-tile">

		</div>
	</div>

    <% include includes/js-templates %>


    <% include includes/js-libs %>
    <% include includes/js-common %>

</body>

</html>
