<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/img/of-logo.svg">
            </a>
            <h2>/&nbsp;<%= user.username %><h2>
        </div>
        <!-- This items get collected inside the hamburger for mobile -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-frames">

                </li>
                <li class="switch">
                    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label for="cmn-toggle-4"></label>
                </li>
                <li class="btn-frame-settings"><a href="#" data-toggle="modal" data-target="#frame-settings">
                    <button class="btn-transparent"  >
                        <img class="icon-topbar" src="../img/settings.svg">
                    </button>
                </a></li>
                <li class="divider-vertical"></li>
                <li class="btn-frame-selection"><a href="#" data-toggle="modal" data-target="">
                    <button class="btn-transparent">
                        <img class="icon-topbar" src="../img/frames.svg">
                    </button>
                </a></li>
                <li class="divider-vertical"></li>
                <li class="btn-logout"><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>