<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="/">
                <img class="of-logo" alt="Brand" src="/img/of-logo.svg">
            </a>
            <h2 class="hidden-xs">/&nbsp;<%= user.username %></h2>
        </div>
        <!-- This items get collected inside the hamburger for mobile -->

        <div class="current-frame">

            <div class="current-frame-name">Home</div>
            <div class="current-frame-status displaying hidden-xs">TeamLab - Flowers</div>
        </div>

        <div class="btn-menu navbar-right">
            <img class="icon-topbar" src="../img/threedots.svg">
        </div>
<!--
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li class="dropdown dropdown-frames"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="btn-menu">
                    <img class="icon-topbar" src="../img/threedots.svg">
                </li>
            </ul>
-->


                <!-- <li class="switch">
                    <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label for="cmn-toggle-4"></label>
                </li>


                <li class="divider-vertical"></li>

                <li class="btn-frame-selection">
                    <a href="#" data-toggle="modal" data-target="">
                        <button class="btn-transparent">
                            <img class="icon-topbar" src="../img/frames.svg">
                        </button>
                    </a>
                </li>
 -->
            </ul>
        </div>
    </div>
</nav>