<script type="text/template" id="ArtworkTemplate">
    <div class="tile-item tile-artwork hover-actions {{ if (isCurrent) { }} tile-artwork--current {{ } }}" data-artworkid="{{- id }}">
        <div class="bg-image">
            <img
                src="{{- thumb_url }}"
                class="artwork__preview-image"
                onerror="this.onerror=null;this.src='/img/preview-missing.png'"
                data-zoom-padding='20' data-zoom-url="{{- thumb_url }}" data-zoom-overlay='true' >
            <div class="artwork-interface">

                <!-- if owner, settings -->
                {{ if (ownerId == window.USER_ID) { }}
                <div class="btn btn-artwork-settings btn-hover-action" data-artworkid="{{- id }}" data-toggle="modal" data-target="#EditArtworkModal">
                    <img src="../img/artwork-settings.svg">
                </div>
                {{ } }}

                <!-- author / title -->
                <div class="artist-label"><h4>{{- author_name }}</h4></div>
                <div class="artwork-label"><h4>{{- title }} <span class="artwork-format">{{- formatDisplayName }}</span></h4></div>

                <!-- actions -->
                <div class="artwork__actions">

                    {{ if (ownerId != window.USER_ID) { }}
                        {{ if (liked) { }}
                            <div class="btn btn-circle btn-unlike btn-hover-action" data-artworkid="{{- id }}"></div>
                        {{ } else { }}
                            <div class="btn btn-circle btn-like btn-hover-action" data-artworkid="{{- id }}"></div>
                        {{ } }}
                    {{ } }}

                    {{ if (!isCurrent) { }}
                        <div class="btn btn-circle btn-push {{- disabled }} btn-hover-action" data-artworkid="{{- id }}"></div>
                    {{ } else { }}
                        <div class="btn btn-circle btn-displaying" data-artworkid="{{- id }}"></div>
                    {{ } }}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="CurrentFrameTemplate">
    <div class="current-frame-name">
        {{ if (connected) { }}
            <span class="current-frame-indicator current-frame-indicator--connected">&bull;</span>
        {{ } else { }}
            <span class="current-frame-indicator current-frame-indicator--disconnected">&bull;</span>
        {{ } }}

        {{- name }}
    </div>
    <div class="current-frame-status displaying hidden-xs">
        {{ if (_current_artwork) { }}
            <span>{{- _current_artwork.author_name }}</span>
            <span>-</span>
            <span>{{- _current_artwork.title }}</span>
        {{ } else { }}
            No Artwork Displayed
        {{ } }}
    </div>
</script>

<script type="text/template" id="FrameMenuItem">
    <li class="sidebar__row sidebar__row--frame {{ if (isCurrent) { }}sidebar_row--frame-active {{ } }}" data-frameid="{{- id }}">
        {{ if (isCurrent) { }}
            <img class="mark-frame-active" src="../img/frame-checkmark.svg">
        {{ } }}
        {{ if (connected) { }}
            <span class="current-frame-indicator current-frame-indicator--connected">&bull;</span>
        {{ } else { }}
            <span class="current-frame-indicator current-frame-indicator--disconnected">&bull;</span>
        {{ } }}

        <div class="frame-name">{{- name }}</div>
        {{ if (isOwner) { }}
        <a class="btn-frame-settings" href="#" data-toggle="modal" data-target="#FrameSettingsModal" data-frameid="{{- id }}">
            <img class="icon-settings" src="../img/settings.svg">
        </a>
        {{ } }}
        <!-- <div class="switch">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" checked>
            <label class="toggle-label" for="cmn-toggle-4"></label>
        </div> -->
        {{ if (_current_artwork) { }}
            <div class="frame-status displaying">{{- _current_artwork.author_name }} - {{- _current_artwork.title }}</div>
        {{ } else { }}
            <div class="frame-status displaying">No Artwork Displayed</div>
        {{ } }}
    </li>
</script>