<!-- Artwork Settings Modal -->
<div id="EditArtworkModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Edit artwork</h3>
            </div>
            <div class="modal-body container container-centered-form">
                <div class="row row-errors hide">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="EditForm">
                            <div class="form-group">
                                <label for="Author">Author</label>
                                <input type="text" class="form-control" name="author_name" id="Author" placeholder="Author" autocapitalize="off" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="Title">Artwork title</label>
                                <input type="text" class="form-control" name="title" id="Title" placeholder="Title" autocapitalize="off">
                            </div>

                            <div class="form-group">
                                <label for="Format">Artwork format</label>
                                <select class="form-control" name="format" id="FormatSelect">
                                    <option value="openframe-image">Image (JPG, JPEG, PNG)</option>
                                    <option value="openframe-website">Website</option>
                                    <option value="openframe-glslviewer">Shader</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="form-group hide" id="FormatOtherWrap">
                                <label for="FormatOther">Specify format (name of the extension's NPM package)</label>
                                <input type="text" class="form-control" name="format_other" id="FormatOther" placeholder="Other format..." autocapitalize="off">
                            </div>

                            <div class="form-group">
                                <label for="url">URL where the artwork is hosted</label>
                                <input type="text" class="form-control" name="url" id="URL" autocapitalize="off" placeholder="http://server.com/here.jpg">
                            </div>

                            <div class="form-group">
                                <label for="thumb_url">URL of a preview image</label>
                                <input type="text" class="form-control" name="thumb_url" id="ThumbURL" autocapitalize="off" placeholder="http://server.com/thumbnail.jpg">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline"><input type="radio" name="is_public" value="false">Keep private</label>
                                <label class="radio-inline"><input type="radio" name="is_public" value="true">Publish to Stream</label>
                            </div>
                            <div class="form-group">
                                <button id="EditButton" href="#" class="btn btn-default">Save changes</button>
                            </div>
                            <div class="switch-text">
                                <p><a href="#" class="red" id="DeleteArtwork">Click here</a> to delete this artwork</p>
                            </div>
                            <input type="hidden" name="id">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Frame Settings Modal -->
<div id="FrameSettingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Frame settings</h3>
            </div>
            <div class="modal-body container container-centered-form">
                <div class="row row-errors hide">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="FrameSettingsForm">
                            <div class="form-group">
                                <label for="name">Frame name</label>
                                <input type="text" class="form-control" name="name" id="Framename" placeholder="name" autocapitalize="off">
                            </div>
                            <div class="form-group">
                                <label class="with-fine-copy" for="Managers">Frame managers</label>
                                <p class="fine-copy">Managers will be able to push artwork to this frame</p>
                                <input type="text" class="form-control" name="managers" id="Managers" placeholder="add usernames separated by comma" autocapitalize="off">
                            </div>
                            <div class="form-group">
                                <label for="Extensions">Extensions installed in this frame</label>
                                <input type="text" class="form-control" name="plugins" id="Extensions" placeholder="no extensions" autocapitalize="off" readonly="readonly">
                            </div>
                            <!-- <div class="form-group">
                                <label for="sel1">Display rotation</label>
                                <select class="form-control" id="rotation">
                                    <option>0&#176;</option>
                                    <option>90&#176;</option>
                                    <option>180&#176;</option>
                                    <option>270&#176;</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <button type="submit" id="SaveFrameButton" href="#" class="btn btn-default" data="dismiss-modal">Save Changes</button>
                            </div>
                            <div class="switch-text">
                                <p><a href="#" class="red" id="DeleteFrame">Click here</a> to delete this frame</p>
                            </div>
                            <input type="hidden" name="id">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Artwork Modal -->
<div class="modal fade" id="AddArtworkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type=
                "button">&times;</button>
                <h3 class="modal-title">Add artwork</h3>
            </div>
            <div class="modal-body container container-centered-form">
                <div class="row row-errors hide">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="AddArtworkForm">
                            <!--<h3><span class="openframe">Add new artwork to collection</span></h3> -->
                            <div class="form-group">
                                <label for="Author">Author</label>
                                <input autofocus class="form-control" id=
                                "Author" name="author_name" placeholder=
                                "Author" type="text">
                            </div>
                            <div class="form-group">
                                <label for="Title">Artwork title</label>
                                <input class="form-control" id="Title" name=
                                "title" placeholder="Title" type="text">
                            </div>
                            <div class="form-group">
                                <label for="Format">Artwork format</label>
                                <select class="form-control" name="format" id="FormatSelect">
                                    <option value="openframe-image">Image (JPG, JPEG, PNG)</option>
                                    <option value="openframe-website">Website</option>
                                    <option value="openframe-glslviewer">Shader</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group hide" id="FormatOtherWrap">
                                <label for="FormatOther">Specify format (name of the extension's NPM package)</label>
                                <input type="text" class="form-control" name="format_other" id="FormatOther" placeholder="Other format..." autocapitalize="off">
                            </div>
                            <div class="form-group">
                                <label for="url">URL where the artwork is
                                hosted</label> <input class="form-control" id=
                                "URL" name="url" placeholder=
                                "http://server.com/here.jpg" type="text">
                            </div>
                            <div class="form-group">
                                <label for="thumb_url">URL of a preview
                                image</label> <input class="form-control" id=
                                "ThumbURL" name="thumb_url" placeholder=
                                "http://server.com/thumbnail.jpg" type="text">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input name="is_public" value="false" type="radio" checked>
                                    Keep private
                                </label>

                                <label class="radio-inline">
                                    <input name="is_public" value="true" type="radio">
                                    Publish toStream
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" id=
                                "AddButton">Add artwork</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Profile Modal -->
<div class="modal fade" id="EditProfileModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type=
                "button">&times;</button>
                <h3 class="modal-title">Edit Profile</h3>
            </div>
            <div class="modal-body container container-centered-form">
                <div class="row row-errors hide">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="EditProfileForm">
                            <!--<h3><span class="openframe">Add new artwork to collection</span></h3> -->
                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input autofocus class="form-control" id=
                                "Username" name="username" placeholder=
                                "Username" type="text">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input class="form-control" id="Email" name=
                                "email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="Website">Website</label>
                                <input class="form-control" id="Website" name=
                                "website" placeholder="http://..." type="text">
                            </div>
                            <div class="form-group">
                                <label for="Twitter">Twitter</label>
                                <input type="text" class="form-control" name="twitter" id="Twitter" placeholder="handle" autocapitalize="off">
                            </div>
                            <div class="form-group">
                                <label for="Change Password">Change Password</label>
                                <input type="password" class="form-control" name="password" id="Change Password" placeholder="********" autocapitalize="off">
                            </div>


                            <div class="form-group">
                                <button class="btn btn-default" id=
                                "SaveProfileButton">Save Changes</button>
                            </div>
                            <div class="switch-text">
                                <p><a href="#" class="red" id="DeleteAccount">Click here</a> to delete your account</p>
                            </div>
                            <input type="hidden" name="id">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>