<div class="row row-notice hide">
    <div class="well well-lg">
        It looks like you haven't yet set up a frame. Check out the <a href="https://github.com/OpenframeProject/Openframe/wiki/Openframe-instructions" target="_blank">setup guide</a> for instructions.
    </div>
</div>