<div class="sidebar">
    <div class="sidebar-header">
        <img class="btn-menu-close cross" src="../img/cross.svg">
    </div>

    <div class="sidebar__row sidebar__row--title">Frames</div>

    <ul class="sidebar__frames-list" id="MenuFrameList">
        <!-- populated by templates -->
    </ul>

    <div class="sidebar__row sidebar__row--logout">
        <a href="/logout">Log out</a>
    </div>
</div>