var debug = require('debug')('openframe:apiserver:admin-user');

module.exports = function(app) {
    var OpenframeUser = app.models.OpenframeUser,
        Role = app.models.Role,
        RoleMapping = app.models.RoleMapping;

    OpenframeUser.create([{
        username: 'admin',
        email: 'admin@openframe.io',
        password: 'pass'
    }], function(err, users) {
        if (err) {
            return debug('%j', err);
        }

        // Create the admin role
        Role.create({
            name: 'admin'
        }, function(err, role) {
            if (err) {
                return debug(err);
            }
            debug(role);

            // Make Bob an admin
            role.principals.create({
                principalType: RoleMapping.USER,
                principalId: users[0].id
            }, function(err, principal) {
                if (err) {
                    return debug(err);
                }
                debug(principal);
            });
        });
    });
};
